@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Montserrat:wght@200&display=swap);

#top-section {
    background-image: url("/static/assets/base_images/orange-3036097_1920_2.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    position: fixed;
    right: 0px;
    left: 50%;
    transform: translateX(-50%);
}


h1 {
  position: absolute;
  margin: auto;
  left: 35%;
  color: #fff;
  top: 50%;
  font-family: "Calligraffitti";
  font-size: 3em !important;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transform: translate3d(-50%,-50%,0);
  position: fixed;
}

#facts-block {
    width: 100%;
    height: 1000px;
    background-color: black;
    left: 50%;
    position: fixed;
    z-index: -1;
    transform: translateX(-50%);
}

#facts-carousel-container {
    height: 400px;
    background-color: black;
    text-align: left;
    padding-top: 300px;
    position: fixed;
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
    width: 55%;
}

#carousel-info-box {
    color: #ff0450;
    opacity: 0.8;
}

#sub-title {
  position: absolute;
  margin: auto;
  left: 35%;
  top: 25%;
  color: #fff;
  font-family: "Calligraffitti";
  font-weight: normal;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transform: translate3d(-50%,-50%,0);
  position: fixed;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  transform: translate3d(-50%,-50%,0);
}

.d-block {
    position: relative;
    }
